APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FIREBASE_KEY=AAAApnR43R8:APA91bFPRdv9QfLGKqc6tP7Y1wlw9r0PWQCeNQ7CaYN5XPrbcrZv1fw8gOj2q5sOgXLZJlhCKXA0mtCbKhXd30e4PLduffbnCxNE5qU-5PnZ5nZNzX0LcS-5BjqFzra7BCxirhIZLHhU
FIREBASE_VAPID_KEY=BHTS8dRwAXhPx35tk-I5vWRqqYoEmPNwbs2gOA5JkLIsDBil7sD69WoGdeu9jsUOuAWHr90R6hi5ZpiC-gg3kuE
FIREBASE_API_KEY=AIzaSyBQYouwE-KHGD1KzMkGTv0JOCGtNsGYf9s
FIREBASE_AUTH_DOMAIN=attendance-939b5.firebaseapp.com
FIREBASE_PROJECT_ID=attendance-939b5
FIREBASE_STORAGE_BUCKET=attendance-939b5.appspot.com
FIREBASE_MESSAGING_SENDER_ID=714918649119
FIREBASE_APP_ID=1:714918649119:web:93c5cee23416501dc5e42a
FIREBASE_MEASUREMENT_ID=G-7HZ1FJ7TCC

GOOGLE_CLIENT_ID=204103725196-dmeqa1aqfbiqlgqp7dhjehh61cukqatj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_REDIRECT=http://localhost:8000/auth/google/callback
GOOGLE_ANALYTICS_VIEW_ID=201670179

FACEBOOK_CLIENT_ID=251300633782114
FACEBOOK_CLIENT_SECRET=e5969b53ae597018349d3a7908755dc9
FACEBOOK_CLIENT_REDIRECT=https://careersbay.com/auth/facebook/callback

SENTRY_LARAVEL_DSN=https://ab3d386ff5404aa596f26220fa0d88e9@o480058.ingest.sentry.io/6137070
SENTRY_TRACES_SAMPLE_RATE=1.0

GOOGLE_CAPTCHA_SITE_KEY=6Le6zVQeAAAAAHFhM5bFFiPB-PhGLU7H8N-oEbU1
GOOGLE_CAPTCHA_SECRET_KEY=6Le6zVQeAAAAAF4qxvmGrNw0JagBXo1PWG7oCnzv
